

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

.input-title {
  font-family: 'Merriweather', serif;
}

.body-center {
margin: 0 auto;
max-width: 960px;
width: 680px;
}

.card {
  margin-bottom: 7px;
}
.card:hover {
  transform: scale(1.1);
  border: 2px solid #5A7D7C;
}

.news-car {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
.news-image {
  width: 960px;
  height: 450px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.news-car:hover .news-image {
  opacity: 0.7;
}

.news-car:hover .middle {
  opacity: 1;
}

.news-text {
  background-color: black;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
}